body {
    padding-bottom: 100px;
}

/*------------------------------------------------------*/

.list {
    width: 1020px;
    margin: 0px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}

.s_info {
    width: 1020px;
    height: 300px;
    margin: auto;
    margin-top: 50px;
}

.title {
    font-family: main;
    text-align: center;
    font-size: 44px;
    color: red;
    margin: 0px;
    padding-top: 25px;
}

.spacer {
    height: 2px;
    width: 80%;
    background-color: #3e3e3e;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.list_person {
    width: 100%;
    height: 200px;
    margin-top: 20px;
}

.list_person a img {
    float: left;
}

.info_header {
    text-align: center;
    margin-top: 0px;
    color: red;
    font-family: main;
}

.line {
    width: 80%;
    height: 23px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

.numbers {
    height: 200px;
    width: 510px;
    float: left;
    margin-top: 19px;
}

.numbers h3 {
    float: left;
    margin: 0px;
    color: red;
    font-size: 23px;
    font-family: main;
}

.numbers p {
    float: left;
    margin: 0px;
    height: 23px;
    padding-left: 15px;
    color: #ffffff;
    font-family: cendela;
}

.line_2 {
    width: 80%;
    height: 42px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

.adress {
    height: 200px;
    width: 510px;
    float: left;
    margin-top: 19px;
}

.adress h3 {
    float: left;
    margin: 0px;
    color: red;
    font-size: 23px;
    font-family: main;
}

.adress p {
    float: left;
    margin: 0px;
    height: 23px;
    padding-left: 15px;
    color: #ffffff;
    font-family: cendela;
}

/*------------------------------------------------------*/

#person_name {
    margin: 0px;
    font-size: 35px;
    font-family: main;
    color: red;
    text-align: center;
    padding-top: 10px;
}

#person_about {
    width: 750px;
    color: #ffffff;
    font-family: cendela;
    font-size: 18px;
    margin-left: 235px;
}

#person_about a {
    text-decoration: none;
    color: red;
}
