.banner {
    position: relative;
    width: 100% !important;
    overflow: auto;
    padding: 0px;
    margin: 0px;
    float: left;
}
.banner ul {
    padding: 0px;
    margin: 0px;
}
.banner li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.banner ul li {
    float:left;
    padding: 0px;
    margin: 0px;
    min-height: 500px;
    background-repeat: no-repeat;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    -ms-background-size: 100% auto;
    background-size: 100% auto;
    background-position-y: -75px;
}