/*---------------main components---------------*/
body {
    background-color: #171717;
    height: 1200px;
}

.container {
    height: 1100px;
    width: 900px;
    margin: auto;
    margin-top: 20px;
}

@font-face {
    font-family: 'main';
    src: url("../font/trench.otf");
}

/*---------------Menu---------------*/

.banner {
    height: 100%;
    width: 225px;
    float: left;
    background-color: blue;
}

.upper_bar {
    width: 102%;
    height: 56px;
    padding: 0px;
    margin-left: -8px;
    margin-top: -8px;
    box-shadow: 0px 3px 5px #090909;
}

.menu {
    width: 1020px;
    height: 100%;
    margin: auto;
}

.menu_b {
    height: 54px;
    width: 110px;
    margin-left: 10px;
    margin-right: 10px;
    float: left;
    position: relative;
    text-decoration: none;
    color: #3e3e3e;
}

.menu_b:hover {
    color: white;
    border-bottom: 2px solid red;
}

.menu_b h1 {
    font-size: 26px;
    font-family: main;
    margin: auto;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
}

.menu_google {
    height: inherit;
    width: 260px;
    margin-left: 15px;
    float: left;
}

#search_bar {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border: 0px;
    height: 26px;
    width: 200px;
    float: left;
    font-size: 15px;
    color: white;
    background-color: #303030;
    margin-top: 12px;
}

#search_submit {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border: 0px;
    background-color: #303030;
    color: white;
    margin-top: 12px;
    height: 28px;
    float: left;
    width: 50px;
}