@media only screen and (max-device-width: 480px) {

    /*Contact.css*/

.s_info {
    height: 450px;
}

.numbers {
    width: 1020px;
    height: 150px;
}

.adress {
    width: 1020px;
    height: 150px;
}

.line {
    width: 400px;
}
.line_2 {
    width: 400px;
 }

/*^^^^^^Contact.css^^^^^^*/
/*Tools.css*/
    .button:focus {
        color: white;
        border-bottom: 2px solid red;

        /*Used to make the page more "animated"*/
        -webkit-transition: background-color 1s linear;
        -moz-transition: background-color 1s linear;
        -o-transition: background-color 1s linear;
        -ms-transition: background-color 1s linear;
        transition: background-color 1s linear;
    }
/*^^^^^^Tools.css^^^^^^*/
}