.content {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 1020px;
    height: 400px;
}

#title {
    font-family: main;
    text-align: center;
    font-size: 44px;
    color: red;
    margin: 0px;
    padding-top: 25px;
    margin-bottom: 10px;
}

.spacer {
    height: 2px;
    width: 80%;
    background-color: #3e3e3e;
    margin-left: auto;
    margin-right: auto;
}

.button {
    float: left;
    height: 40px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 15px;
    text-decoration: none;
    color: red;
}

.button:hover {
    color: white;
    border-bottom: 2px solid red;

    /*Used to make the page more "animated"*/
    -webkit-transition: background-color 1s linear;
    -moz-transition: background-color 1s linear;
    -o-transition: background-color 1s linear;
    -ms-transition: background-color 1s linear;
    transition: background-color 1s linear;
}

.button h1 {
    margin: 0px;
    padding: 0px;
    height: 40px;
    text-align: center;
    font-family: main;
}